CAD/KiCad/*.lck
CAD/KiCad/*backup*
CAD/KiCad/*.log
CAD/KiCad/*.round-tracks-config 
CAD/KiCad/*auto_saved*
CAD/KiCad/*autosave*
CAD/KiCad/*fabrication*
CAD/KiCad/*.zip
CAD/KiCad/production
CAD/Inventor/OldVersions
